.dialogs {
    display: flex;
    flex-direction: row;

    &__list, &__messages {
        width: 50%;
        padding: 0 15px;
    }

    &__list {
        .dialog {
            margin: 7px 0;

            &.active {
                font-weight: bold;
            }
        }
    }

    &__messages {

    }
}